In [100]:
import pandas as pd

In [101]:
df = pd.read_csv("heart.csv")
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [102]:
df.head() #to read only first five lines (default)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [103]:
df.head(2) #to read only first two lines

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1

In [104]:
df.tail() #to read only last five lines (default)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [105]:
df.tail(2) #to read only lost fwo lines

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [106]:
df = pd.read_csv("heart.csv", dtype={"Age": "float64"}) #to change datatypy of Age column
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40.0,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49.0,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37.0,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48.0,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54.0,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45.0,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68.0,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57.0,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57.0,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38.0,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [107]:
df = pd.read_csv("heart.csv", dtype={"Age": "float64", "RestingBP": "float64"}) #to change datatype of multiple given columns
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40.0,M,ATA,140.0,289,0,Normal,172,N,0.0,Up,0
1,49.0,F,NAP,160.0,180,0,Normal,156,N,1.0,Flat,1
2,37.0,M,ATA,130.0,283,0,ST,98,N,0.0,Up,0
3,48.0,F,ASY,138.0,214,0,Normal,108,Y,1.5,Flat,1
4,54.0,M,NAP,150.0,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45.0,M,TA,110.0,264,0,Normal,132,N,1.2,Flat,1
914,68.0,M,ASY,144.0,193,1,Normal,141,N,3.4,Flat,1
915,57.0,M,ASY,130.0,131,0,Normal,115,Y,1.2,Flat,1
916,57.0,F,ATA,130.0,236,0,LVH,174,N,0.0,Flat,1
917,38.0,M,NAP,138.0,175,0,Normal,173,N,0.0,Up,0

In [108]:
df = pd.read_csv("heart.csv", true_values=["Y"])
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [111]:
df = pd.read_csv("heart.csv", true_values=["Y"], false_values=["N"])
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,False,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,False,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,False,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,True,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,False,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,False,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,False,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,True,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,False,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,False,0.0,Up,0

In [112]:
import pandas as pd

"""Define your custom true and false values"""
true_values = ['Yes', 'Y', '1']
false_values = ['No', 'N', '0']

"""Read a CSV file, interpreting 'Yes' and 'No' as True and False"""
df = pd.read_csv('heart.csv', true_values=["Y"], false_values=["N"])
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,False,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,False,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,False,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,True,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,False,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,False,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,False,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,True,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,False,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,False,0.0,Up,0