In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("heart.csv")
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [6]:
df = pd.read_csv("heart.csv", header=2)
df

     49  F  NAP  160  180  0  Normal  156  N    1  Flat  1.1
0    37  M  ATA  130  283  0      ST   98  N  0.0    Up    0
1    48  F  ASY  138  214  0  Normal  108  Y  1.5  Flat    1
2    54  M  NAP  150  195  0  Normal  122  N  0.0    Up    0
3    39  M  NAP  120  339  0  Normal  170  N  0.0    Up    0
4    45  F  ATA  130  237  0  Normal  170  N  0.0    Up    0
..   .. ..  ...  ...  ... ..     ...  ... ..  ...   ...  ...
911  45  M   TA  110  264  0  Normal  132  N  1.2  Flat    1
912  68  M  ASY  144  193  1  Normal  141  N  3.4  Flat    1
913  57  M  ASY  130  131  0  Normal  115  Y  1.2  Flat    1
914  57  F  ATA  130  236  0     LVH  174  N  0.0  Flat    1
915  38  M  NAP  138  175  0  Normal  173  N  0.0    Up    0

[916 rows x 12 columns]

In [7]:
df = pd.read_csv("heart.csv", header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
1,40,M,ATA,140,289,0,Normal,172,N,0,Up,0
2,49,F,NAP,160,180,0,Normal,156,N,1,Flat,1
3,37,M,ATA,130,283,0,ST,98,N,0,Up,0
4,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
...,...,...,...,...,...,...,...,...,...,...,...,...
914,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
915,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
916,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
917,57,F,ATA,130,236,0,LVH,174,N,0,Flat,1
918,38,M,NAP,138,175,0,Normal,173,N,0,Up,0

In [9]:
# df = pd.read_csv("heart.csv", header=None, prefix="Columns") #not works
# df

In [13]:
df = pd.read_csv("heart.csv", names=["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L"])
df

,A,B,C,D,E,F,G,H,I,J,K,L
0,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
1,40,M,ATA,140,289,0,Normal,172,N,0,Up,0
2,49,F,NAP,160,180,0,Normal,156,N,1,Flat,1
3,37,M,ATA,130,283,0,ST,98,N,0,Up,0
4,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
...,...,...,...,...,...,...,...,...,...,...,...,...
914,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
915,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
916,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
917,57,F,ATA,130,236,0,LVH,174,N,0,Flat,1
918,38,M,NAP,138,175,0,Normal,173,N,0,Up,0